body {
    background-color: rgb(80, 0, 0);
    padding: 20px;
}

h1 {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

p {
    background-color: beige;
    color: grey;
    border-radius: 10px;
    width: 200px;
    padding: 5px 10px;
}